<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Glove</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="content">
        <div class="cards">
          <div class="card">
            <p class="card-title">Componentes del cuaternión</p>
            <p><span class="reading">X: <span id="cuaternionX"></p>
            <p><span class="reading">Y: <span id="cuaternionY"></p>
            <p><span class="reading">Z: <span id="cuaternionZ"></p>
            <p><span class="reading">W: <span id="cuaternionW"></p>
          </div>
          <div class="card">
            <p class="card-title">Animación 3D</p>
            <button class="bootstrap-btn" id="scene1">Reset</button><br>
            <!-- <button class="bootstrap-btn" id="scene2" onClick="changeScene(this)">Figuras</button><br>
            <button class="bootstrap-btn">Mano</button> -->
            <p class="card-title">Flexión del dedo</p>
            <div id="progress-container">
              <div id="progress-bar">0%</div>
            </div>
          </div>
        </div>
        
    </div>    
    <div id="canvas"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/main.js"></script>
</body>
</html>
