<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
	    margin: 0;
		overflow: hidden;
    }
    #overlay {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #datos {
        color: black;
    }

  </style>
<body>
    <div id="overlay">
        <h2 class="renderer_label" id="datos"></h2>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/main.js"></script>
</body>
</html>
